<div class="admin-login-top">
  <h3>クイズの内容を確認し、問題がなければ<%= link_to "クイズ作成", new_admin_quiz_path %>から作成してください</h3>

<div>問題：<%= @request_quiz.question %></div>
<div>答え：<%= @request_quiz.answer %></div>
<div>ア：<%= @request_quiz.choices_first %></div>
<div>イ：<%= @request_quiz.choices_second %></div>
<div>ウ：<%= @request_quiz.choices_third %></div>
<div>エ：<%= @request_quiz.choices_fourth %></div>
<div>解説：<%= @request_quiz.explanation %></div>

<%= link_to "クイズ作成", new_admin_quiz_path %>
<%= link_to "確認済", admin_request_quiz_path(@request_quiz.id),method: :delete, "data-confirm" => "これ以降表示できなくなります。きちんと確認した上で'OK'を押してください。" %>
</div>