<%= form_with model: @player,url: user_player_path(@player.id), method: :patch, local: true do |f| %>
  <div class="mypage">
    <div class="icon-edit">
        <% if @player.image_icon.attached? %>
          <%= image_tag @player.image_icon, size: "200x200", class: 'icon-circle' %>
        <% else %>
          <%= image_tag 'profile', size: "200x200", class: 'icon-circle' %>
        <% end %>
    　  <div class="image-icon"><%= f.file_field :image_icon, accept: "image/*" %></div>
  　</div>

    <div class="player-edit">
      <div>
        <%= f.label :'ユーザーネーム' %>
        <%= f.text_field :player_name %>
      </div>

      <div class="player-email">
        <%= f.label :'メールアドレス' %>
        <%= f.email_field :email, placeholder: "sample@sample.com", autofocus: true, autocomplete: "email" %>
      </div>

      <div>
        <%= f.text_area :introduction, placeholder: "〇〇勉強中！、趣味は〇〇など", :size=>"60x6" %>
      </div>
    </div>
  </div>
    <div class="edit-button"><%= f.submit '変更を保存', class: 'quiz-new-button' %></div>
<% end %>