<div class="user-sign">
  <h2 class="sign-logo">ログイン</h2>

  <%= form_with model: @player, url: player_session_path do |f| %>

    <div class="sign-form">
      <p class="sign-form-left"><%= f.label :'メールアドレス' %></p>
      <p class="sign-form-right"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
    </div>

    <div class="sign-form">
      <p class="sign-form-left"><%= f.label :'パスワード' %></p>
      <p class="sign-form-right"><%= f.password_field :password, autocomplete: "current-password" %></p>
    </div>

      <%= f.submit "ログイン", class: "sign-button" %>
  <% end %>


</div>
