<div class="user-sign">
  <h2 class="sign-logo">新規登録</h2>

<%= form_with model: @player, url: player_registration_path do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>

  <div class="sign-form">
    <p class="sign-form-left"><%= f.label :'ユーザーネーム' %></p>
    <p class="sign-form-right"><%= f.text_field :player_name %></p>
  </div>

  <div class="sign-form">
    <p class="sign-form-left"><%= f.label :'メールアドレス' %></p>
    <p class="sign-form-right"><%= f.email_field :email, autocomplete: "email" %></p>
  </div>

  <div class="sign-form">
    <p class="sign-form-left"><%= f.label :'パスワード' %></p>
    <p class="sign-form-right"><%= f.password_field :password, autocomplete: "new-password", :placeholder => "6文字以上" %></p>
  </div>

  <div class="sign-form">
    <p class="sign-form-left"><%= f.label :'パスワード(確認用)' %></p>
    <p class="sign-form-right"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>


    <%= f.submit "新規登録", class: "sign-button" %>

<% end %>
</div>
