⑰クイズ詳細画面(admin/quizzes/edit)

<%= form_with model: @quiz,url: admin_quiz_path(@quiz.id), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :'問題' %>
    <%= f.text_field :question %>
  </div>

  <div>
    <%= f.label :'答え' %>
    <%= f.text_field :answer %>
  </div>

  <div>
    <%= f.label :'選択肢ア' %>
    <%= f.text_field :choices_first %>
  </div>

  <div>
    <%= f.label :'選択肢イ' %>
    <%= f.text_field :choices_second %>
  </div>

  <div>
    <%= f.label :'選択肢ウ' %>
    <%= f.text_field :choices_third %>
  </div>

  <div>
    <%= f.label :'選択肢エ' %>
    <%= f.text_field :choices_fourth %>
  </div>

  <div>
    <%= f.label :'解説' %>
    <%= f.text_field :explanation %>
  </div>

  <%= f.submit '変更を保存' %>

<% end %>