⑥クイズ画面(quizzes/index)

<% @quizzes.each do |quiz| %>
  <div>
    第1問.<%= quiz.question %>
  </div>

  <div class="hidden_box">
    <label for="label1">ア</label>
    <%= quiz.choices_first %>
  </div>

  <div class="hidden_box">
    <label for="label1">イ</label>
    <%= quiz.choices_second %>
  </div>

  <div class="hidden_box">
    <label for="label1">ウ</label>
    <%= quiz.choices_third %>
  </div>

  <div class="hidden_box">
    <label for="label1">エ</label>
    <%= quiz.choices_fourth %>


     <input type="checkbox" id="label1" class="switch" />
     <div class="hidden_show">
      <h4>正解：<%= quiz.answer %></h4>
      <div>解説：<%= quiz.explanation %></div>
     </div>
   </div>
<% end %>

<%= link_to "次の問題へ", user_quizzes_path %>
<%= link_to "結果を見る", new_user_quiz_path %>