<h2 class="faq">FAQ</h2>

  <div class="faq-box">
    <div class="faq-title">
      <p>Q.クイズに挑戦することができません。</p>
    </div>
    <div class="faq-answer">
      <p>A.新規登録後または、ログインした状態ですとクイズに挑戦することが可能です。</p>
    </div>

    <div class="faq-title">
      <p>Q.次の問題へ進むにはどうしたらいいですか？</p>
    </div>
    <div class="faq-answer">
      <p>A.「答えと解説を見る」を押すと次の問題へ進むリンクが表示されます。</p>
    </div>

    <div class="faq-title">
      <p>Q.全部で何問出題されますか？</p>
    </div>
    <div class="faq-answer">
      <p>A.10問、ランダムで出題されます。</p>
    </div>

    <div class="faq-title">
      <p>Q.クイズを作成したいのですが、どうしたらいいですか？</p>
    </div>
    <div class="faq-answer">
      <p>A.クイズに満点で正解するとクイズを作成することが可能です。</p>
    </div>
  </div>

  <h4 class="form-title">ここにない質問はこちらからお問い合わせください。</h4>

<div class="form">

<%= form_with model: @inquiry do |f| %>
  <div class="sign-form">
    <p class="sign-form-left"><%= f.label :'お名前：' %></p>
    <p class="inquiry-form-right"><%= f.text_field :name %></p>
  </div>

  <div class="sign-form">
    <p class="sign-form-left"><%= f.label :'お問い合わせ内容：' %></p>
    <p class="inquiry-form-right"><%= f.text_area :messages, :size=>"70x3" %></p>
  </div>

  <%= f.submit '送信', class: "sign-button" %>
<% end %>
</div>




