<!DOCTYPE html>
<html>
  <head>
    <title>StudiesIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <h1 class="header-logo"><a class="header-link" href="/">studies IT</a></h1>
         <nav>
            <ul>
            <% if player_signed_in? %>
              <li>
                <%= link_to "マイページ", edit_user_player_path(current_player.id), class: 'user-header' %>
              </li>
              <li>
                <%= link_to "ランキング", user_players_path, class: 'user-header' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_player_session_path, method: :delete, class: 'user-header' %>
              </li>
            <% elsif admin_signed_in? %>
              <li>
                <%= link_to "クイズ作成", new_admin_quiz_path, class: 'admin-header' %>
              </li>
              <li>
                <%= link_to "クイズ一覧", admin_quizzes_path, class: 'admin-header' %>
              </li>
              <li>
                <%= link_to "ユーザー一覧", admin_players_path, class: 'admin-header' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'admin-header' %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_player_registration_path, class: 'user-header' %>
              </li>
              <li>
                <%= link_to "ログイン", new_player_session_path, class: 'user-header' %>
              </li>
            <% end %>
            </ul>
         </nav>
  </header>
    <%= yield %>
    <footer>
      <div>
        <p>© 2022 studiesIT inc.</p>
      </div>
    </footer>
  </body>
</html>
